<div class="page">


  <div class="header">
    <h1 class="dashboard-title">Employee Dashboard</h1>

    <div class="header-actions">
      <button mat-stroked-button routerLink="/employees">
        <mat-icon>people</mat-icon>
        Employees
      </button>

      <button mat-stroked-button (click)="toggleTheme()">
        <mat-icon>{{ isDark ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>

      <button mat-raised-button color="warn" (click)="logout()">
        Logout
      </button>
    </div>
  </div>

  <div class="stats">

  
    <mat-card class="stat-card glass glow">
      <img
        class="stat-icon"
        src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
        alt="Total Employees"
      />
      <span>Total Employees</span>
      <h2>{{ totalEmployees }}</h2>
    </mat-card>

    
    <mat-card class="stat-card glass glow success">
      <img
        class="stat-icon"
        src="https://cdn-icons-png.flaticon.com/512/190/190411.png"
        alt="Active Employees"
      />
      <span>Active</span>
      <h2>{{ activeCount }}</h2>
    </mat-card>

  
    <mat-card class="stat-card glass glow danger">
      <img
        class="stat-icon"
        src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png"
        alt="Inactive Employees"
      />
      <span>Inactive</span>
      <h2>{{ inactiveCount }}</h2>
    </mat-card>

  </div>

  
  <div class="charts">

    
    <div class="bar-chart glass">
      <h3>Departments</h3>

      <div class="bar-row" *ngFor="let d of departmentCounts">
        <span class="bar-label">{{ d.department }}</span>
        <div class="bar-track">
          <div
            class="bar-fill"
            [style.width.%]="(d.count / totalEmployees) * 100">
            {{ d.count }}
          </div>
        </div>
      </div>
    </div>

    
    <div class="pie-card glass">
      <h3>Department Distribution</h3>

      <div
        class="pie-circle"
        [style.background]="getPieStyle()">
      </div>

      <ul class="pie-legend">
        <li *ngFor="let d of departmentCounts; let i = index">
          <span
            class="legend-dot"
            [style.background]="pieColors[i % pieColors.length]">
          </span>
          {{ d.department }} ({{ d.count }})
        </li>
      </ul>
    </div>

  </div>

</div>